button {
	border: 10px solid transparent;
	border-image: url(./img/button.png) 30 round;
	background-image: url(./img/button_bg.png);
	color: white;
	padding: 10px;
	font-weight: bold;
	font-family: Georgia;
	background-clip: padding-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	margin: 5px;
	width: 125x;
}

button:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.52), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
}

button:active {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1255), 0 3px 10px 0 rgba(0, 0, 0, 0.125);
}

button:focus {outline:0;}

#build>button {
	width: 240px;
}

#gameContainer {
	display: inline-block;
	float: left;
}

#controls {
	display: inline-block;
	float: left;
	width: 275px;
	text-align: center;
	border: 30px solid transparent;
	border-image: url(./img/controls.png) 30 round;
	background-image: url(./img/controls_bg.png);
	background-clip: padding-box;
	height: 740px;
}

canvas {
	border: 1px solid black;
}

fieldset {
	font-family: Georgia;
	text-align: left;
	color: white;
}